
<!-- Header --> 
<%- include('./partials/header-auth' ); %>

<p> &nbsp; </p>
<p> &nbsp; </p>
<div class="row ml-2">

      <div class="col-md-2">
       
      </div>
      <div class="col-md-8">
        <%- include('./partials-page/user-edit.ejs', { user }  ); %>
      </div>

</div>


<!-- Footer --> 
<%- include('./partials/footer'); %>
